<div>

    <h1 class="a">Admin Login</h1>

    <form [formGroup]="adminloginForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label class="b" for="username">Username</label><br>
            <input class="c" type="text" name="username" class="form-control" formControlName="username">
        </div>
        <span *ngIf="username && username.invalid && username.touched" class="text-red-500">
            Username is invalid!
        </span>
        <pre></pre>

        <div class="form-group">
            <label class="b" for="password">Password</label><br>
            <input class="c" type="text" name="password" class="form-control" formControlName="password">
        </div>
        <span *ngIf="password && password.invalid && password.touched" class="text-red-500">
            Password is invalid!
        </span>
        <pre></pre>

        <button class="d">Login</button><br>

    </form>

</div>
